{% extends 'base.html.twig' %}
{% macro displayAnswers(answers, question_id) %}
    <ul id="{{question_id}}" class="list-group">
        {% for answer in answers %}
            <li class="list-group-item ">
                <span>{{answer}}</span>
                <input class="float-right question_{{question_id}}"
                    onclick="selectOne('{{question_id}}', this);" type="checkbox">
            </li>
        {% endfor %}
    </ul>    
{% endmacro %}
{% macro iterate(results) %}
    {% set question_id = 1 %}
    {% for result in results %}
        {% set answers = result.incorrect_answers|merge([result.correct_answer])  %}
        <div id="block_{{question_id}}" class="d-none m-2">
            <div class="">
                <p class="h-4 text-white">
                {{result.question|corrector}}
                </p>
                {{_self.displayAnswers(answers, question_id)}}
            </div>
        </div>
        {% set question_id = question_id + 1 %}
    {% endfor %}

    <div class="mt-4 float-right">
        <button id="previousQuestion" onclick="previousQuestion()" class="btn btn-outline-secondary">prev</button>
        <button id="submit" class="btn btn-outline-secondary">submit</button>
        <button id="nextQuestion" onclick="nextQuestion()" class="btn btn-outline-secondary">next</button>
    </div>
{% endmacro %}

{% macro pickAllCorrectAnswers(results) %}
    {% set answerIdCounter = 1 %}
    {% for result in results %}
        <input id="answer_{{answerIdCounter}}" value="{{result.correct_answer}}"
            type="hidden">
        {% set answerIdCounter = answerIdCounter + 1 %}
    {% endfor %}
{% endmacro %}

{% block title %}Trivial{% endblock %}

{% block body %}
{{_self.iterate(results)}}
{{_self.pickAllCorrectAnswers(results)}}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/checkbox-controls.js')}}"></script>
    <script src="{{asset('/js/test-slide.js')}}"></script>
{% endblock %}
