{% extends 'base.html.twig' %}
{% macro displayClock() %}
    <div id="clockBlock" class="text-white text-center">
        <span id="time" class="display-4"></span>
    </div>
{% endmacro %}
{% macro displayCurrentQuestion() %}
    <div class="text-white w-100 text-right">
            Question <span id="question_number">1</span> / <span id="total_questions"></span>
    </div>
{% endmacro %}
{% macro displayAnswers(answers, question_id) %}
    <ul id="{{question_id}}" class="list-group">
        {% for answer in answers %}
            <li class="list-group-item mb-1" onclick="checkOne('{{question_id}}', this)">
                <span>{{answer}}</span>
                <input class="float-right question_{{question_id}}"
                    onclick="selectOne('{{question_id}}', this);" type="checkbox">
            </li>
        {% endfor %}
    </ul>    
{% endmacro %}
{% macro iterate(results) %}
    {% set question_id = 1 %}
    {% for result in results %}
        {% set answers = result.incorrect_answers|merge([result.correct_answer])  %}
        <div id="block_{{question_id}}" class="d-none m-2">
            <div class="border-ridge rounded p-3">
                <p id="question_text_{{question_id}}" class="h4 text-white mb-3">
                {{result.question|corrector}}
                </p>
                {{_self.displayAnswers(answers, question_id)}}
            </div>
        </div>
        {% set question_id = question_id + 1 %}
    {% endfor %}

    {{_self.displayActionButtons}}

{% endmacro %}
{% macro displayActionButtons() %}
    <div class="row mt-4 text-center">
        <div class="col-4 float-right">
            <a title="previous" role="button" id="previousQuestion" onclick="previousQuestion()" class="btn text-white m-1">
                <i class="animated-font-left fas fa-arrow-left fa-lg"></i>
            </a>
        </div>
        <div class="col-4 text-center">
            <a title="submit quiz" role="button" id="submit" onclick="submitTest()" class="btn text-white m-1">
            <i class="animated-font-center fas fa-check fa-lg"></i>
            </a>
        </div>
        <div class="col-4 float-right">
            <a title="next" role="button" id="nextQuestion" onclick="nextQuestion()" class="btn text-white m-1">
                <i class="animated-font-right fas fa-arrow-right fa-lg"></i>
            </a>
        </div>
    </div>
{% endmacro %}
{% macro displayScoreArea() %}
    <div class="container mt-2" id="scoreContainer" style="display:none;">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center text-white">
                <h3>SCORE</h3>
                <h2 id="score"class="display-2"></h2>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro tryAgainMessage() %}
    <div id="tryAgainBlock" class="row text-white" style="display:none;">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h4 class=""><a class="green" href="{{path('quick_game')}}">Try again </a></h4>
        </div>
        <div class="col-4"></div>
    </div>
{% endmacro %}
{% macro pickAllCorrectAnswers(results) %}
    {% set answerIdCounter = 1 %}
    {% for result in results %}
        <input id="answer_{{answerIdCounter}}" value="{{result.correct_answer}}"
            type="hidden">
        {% set answerIdCounter = answerIdCounter + 1 %}
    {% endfor %}
{% endmacro %}

{% block title %}Trivia{% endblock %}

{% block body %}
<div class="mt-5 pt-5 h-100" style="position:relative;">
    {{_self.displayClock()}}
    {{_self.displayCurrentQuestion()}}
    {{_self.iterate(results)}}
    {{_self.pickAllCorrectAnswers(results)}}
    {{_self.displayScoreArea()}}
    {{_self.tryAgainMessage()}}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/checkbox-controls.js')}}"></script>
    <script src="{{asset('/js/test-slide.js')}}"></script>
    <script src="{{asset('/js/test-resolution.js')}}"></script>
    <script src="{{asset('/js/test-submit.js')}}"></script>
{% endblock %}
